<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>815142586286-ugaibnktktjpv76pteul1kls5hhuqa2a.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.815142586286-ugaibnktktjpv76pteul1kls5hhuqa2a</string>
	<key>API_KEY</key>
	<string>AIzaSyDBAGoe4r9SHnmlOK4spWdjA1LUbCCL1qY</string>
	<key>GCM_SENDER_ID</key>
	<string>815142586286</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.hacknarok2023</string>
	<key>PROJECT_ID</key>
	<string>hacknarok-spejsy</string>
	<key>STORAGE_BUCKET</key>
	<string>hacknarok-spejsy.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:815142586286:ios:f489044de37ca10c1aea3f</string>
</dict>
</plist>